<% provide(:title, "Log In") %>

<h1 style="color:#1b065e;">Log In</h1>
<%= form_for(:session, url: akatosh_login_begodlyandstuff_path) do |f| %>
  <%= f.label :email %>&emsp;
  <br/>
  <%= f.email_field :email, placeholder: 'Email' %>
  <br/><br/>
  <%= f.label :password %>&emsp;
  <br/>
  <%= f.password_field :password, placeholder: 'Password' %>
  <br/><br/>
  <%= f.submit 'Log In', class: 'button', style: "font-family:sans-serif" %>
  <br/><br/>
<% end %>

Marcurio: If these ruins frighten you, take comfort from the knowledge that <a href="/">I am here.</a>
