<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>
  <%= f.label :email %>&emsp;
  <%= f.email_field :email, placeholder: 'Email' %>
  <br/><br/>
  <%= f.label :password %>&emsp;
  <%= f.password_field :password, placeholder: 'Password' %>
  <br/><br/>
  <%= f.label :password_confirmation %>&emsp;
  <%= f.password_field :password_confirmationl, placeholder: 'Confirm Password' %>
  <br/><br/>
  <%= f.submit 'Sign Up' %>
<% end %>
