<h1>New Post</h1>
<%= tinymce_assets %>
<%= form_for(@post) do |f| %>
  <%= f.label :title %>&emsp;
  <%= f.text_field :title, required: true %>
  <br/>
  <%= f.label :content %>
  <%= f.text_area :content, :class => 'tinymce' %>
  <%= tinymce %>
  <br/>
  <%= f.submit 'Create Post' %>
<% end %>
